body {
    font-family: "Times New Roman", serif;
    background: center no-repeat url("../images/fond.png");
}

h1 {
    color: green;
    border: black 4px solid;
}

h2, h3, h4 {
    color: green;
}

h1, h2, h3, h4 {
    text-align: center;
}

.list {
    text-align: center;
}

#title {
    text-align: center;
}

em {
    font-family: "Apple Chancery", serif;
}