body {
    max-width: 1000px;
    margin: 0 auto;
    font: 1.0em Arial, Helvetica, sans-serif
}
h1{
    text-align: center;
    border: 5px solid olivedrab;
}
.box {

	border: 2px solid darkblue;
	padding-left: 10px;
    float: left;
    width: 250px;
}
.box2 {
    border: 2px solid red;
    float: right;
    width: 732px;
}
.text1{
    clear: left;
}
.text2{
    clear: left;
}
#img{
    width: 732px;
    float: left;
    border: solid black 2px;
    height: 281px;
    text-align: center;
}


